/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 30, 2015, 1:36:58 PM
    Author     : Dennis
*/

/**Animations*/
@-webkit-keyframes wave {
    30%{}
    40%{transform: rotateZ(-175deg);}
    50%{transform: rotateZ(-155deg);}
    60%{transform: rotateZ(-175deg);}
    70%{transform: rotateZ(-155deg);}
    80%{transform: rotateZ(-175deg);}
    100%{}    
}


/**RESET*/
html, body {
    height: 100%;
    background-color: #EBEBEB
    
}

.main-container{
    position: relative;
    height: 100%;
    margin: 0 auto;
    width: 960px;   
}

header, section{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

/**Header*/
header{
    height: 350px;
}
    /**Banner*/
.banner{
    height: 300px; 
    background-image: url(../images/room1.png)
    
} 

    /**Character*/
#character{
    position: relative;
    height: 175px;
    width: 140px;
    margin: 0 auto;
    top: 120px;
}

#head{
    position: absolute;
    background-color: #ffe0bd;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    left: 30%;
    top: 25px;
}

#eye-left, #eye-right {
    position: absolute;
    background-color: black;
    border-radius: 50%;
    height: 10px;
    width: 5px
}

#eye-left {
    top: 12px;
    left: 15px;
}

#eye-right {
    top: 12px;
    left: 35px;
}

#mouth {
    position: absolute;
   height: 10px;
    width: 20px;
    border-radius: 0 0 90px 90px;
    top: 30px;
    left: 17px;
    background-color: black;
}

#torso {
	position: absolute;
	top: 80px;
	left: 24%;
	height: 72px;
	width: 72px;
        background-image: -webkit-linear-gradient(bottom, black 50%, #FF3333 50%);
	border-radius: 50px;
}

#arm-left , #arm-right{
	position: absolute;
	height: 40px;
	width: 10px;
	background-color: #ffe0bd;
	border-radius: 50%;
	top: 95px;
        
}
#arm-left {
	left: 12%;
}

#arm-right{
        
        transform-origin: 0% 0%;
        right: 13%;
        -webkit-animation-name: wave;
        -webkit-animation-duration: 3s;
	-webkit-animation-timing-function: linear;
}

#left-leg, #right-leg {
	position: absolute;
	height: 20px;
	width: 25px;
	background-color: brown;
	border-radius: 100px 100px 0 0;
	top: 155px;
}

#left-leg {
	
	left: 25%;
}

#right-leg {
	right: 25%;
}

    /**NAVBAR*/
nav{
    height: 50px;
    background-color: #333;
}

nav li, nav a{
    display: inline-block;
    height: 50px;
    width: 310.5px;
    
}

nav li:hover{
    background-color: #5C5C5C
}

nav ul{
    
}

nav li {
    border-radius: 5px;
}

nav a { 
    font-size: 30px;
    line-height: 1.5;
    text-decoration: none;
    text-align: center;
    color: white;
}

/**MAIN */
section{   
    height: auto;  
    background-color: white;
}

/*Styling for speech bubble*/
#bubble{
    position: absolute;
    width: 100px;
    text-align: center;
    top: 14%;
    left: 43%;
}


