/*
*/
/* 
    Created on : Mar 23, 2015, 6:13:17 PM
    Author     : Dennis
*/

/*Disable animation*/
#character #arm-right {
    -webkit-animation: none;
}

/**Style for Light Box*/
#lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/overlay.png) repeat;
    text-align: center;
}

#lightbox p {
    text-align: right;
    color:#fff;
    margin-right:20px;
    font-size: 12px;
}

#lightbox img {
    height: 600px;
    width: 700px;
    box-shadow: 0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width:940px;
}

/*Gallery Style*/
#gallery {
    position: relative;
    top: 10px;
    height: 300px;    
    width: 780px;
    margin: 0 auto;
}

tr, td{
     position:relative;
}

.header {
    height: 50px;
    
}

#gallery .gitLink{
    position: relative;
    top: 15px;
    left: 65px;
    text-align: center;
    color:black;
}

.lightbox_trigger, #gallery img{    
    height: 250px;
    width: 250px;

.lightbox_trigger{
    display: inline-block; 
    left: 5px;
    position: absolute;
}